---
// Footer component
---

<!-- Page Footer -->
<footer class="bg-gray-50 py-8 transition-colors duration-300">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-center">
            <div class="text-center">
                <p class="text-gray-700">
                    Copyright
                    <script is:inline>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; <a
                        href="#"
                        target="_blank"
                        class="text-blue-600 hover:text-gray-900 transition-colors"
                        >FLAIR Lab, IISc</a
                    >
                    &nbsp;|&nbsp;
                    <a
                        href="https://github.com/flair-iisc"
                        target="_blank"
                        rel="noopener"
                        class="text-blue-600 hover:text-gray-900 transition-colors inline-flex items-center"
                    >
                        <img
                            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                            alt="GitHub"
                            class="h-[18px] align-middle mr-1"
                        />GitHub
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End of page footer -->
